@import "./_variables";
@import "bootstrap/scss/bootstrap.scss";
@import "@fortawesome/fontawesome-free/css/all.css";



body {
		margin: 0;
		font-size: 14px;
	font-family: 'Poppins', sans-serif;
		@media screen and (min-width: 768px) {
			font-size: 16px;
		}
}

h1 {
  margin-top: 0;
}

.chat-us{
	padding: 12px 17px;
	border-radius: 12px;
	font-weight: 700;
	font-size: 14px;
}