---
import Money from "../images/money.png";
import WhatsAppIcon from "../images/whatsapp.svg";
import { Image } from "astro:assets";
---

<div class="about container" id="about">
  <div class="about-inner">
    <div class="about-inner-image">
      <Image src={Money} alt="money" />
    </div>
    <div class="about-inner-content">
      <div class="content-inner">
        <h2>Upgrade Your Financial Attainment</h2>
        <p>
          We’ve built a method that creates a realistic monthly budget plan,
          which will help build up your savings. Through the daily
          contribution plan we’ve put in place, you can start an investment
          strategy to max out your retirement funds and stock up food items
          for your household. From our flexible loan plan, you can choose a
          wide range of simple and straightforward loan offers for personal
          needs and projects. So let’s be your guide to making the best
          financial decisions
        </p>
        <div>
          <button class="btn btn-primary">
            <Image
              src={WhatsAppIcon}
              alt="whatsapp icon"
              height="32"
              width="32"
            /> Chat with Us</button
          >
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .about {
    min-height: 80vh;
    display: grid;
    align-items: center;
    &-inner {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      &-content {
        display: grid;
        align-items: center;

        p {
          margin-block: 38px;
        }
      }
      &-image {
        img {
          width: 100%;
        }
      }
    }
  }
</style>