---
import { Image } from "astro:assets";
import Person from "../images/testimonial.jpeg";
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="img-wrap">
        <Image src={Person} alt="" />
      </div>
      <p class="author">Shola Adaeze</p>
      <p class="role">Entrepreneur</p>
      <p class="text-content">
        Since I started using Diamond Wealth Enterprise, my finances has been a
        force to reckon with. I’m able to track my money through their savings
        plan.
      </p>
    </div>
    <div class="swiper-slide">
      <div class="img-wrap">
        <Image src={Person} alt="" />
      </div>
      <p class="author">John Doe</p>
      <p class="role">Entrepreneur</p>
      <p class="text-content">
        Since I started using Diamond Wealth Enterprise, my finances has been a
        force to reckon with. I’m able to track my money through their savings
        plan.
      </p>
    </div>
    <div class="swiper-slide">
      <div class="img-wrap">
        <Image src={Person} alt="" />
      </div>
      <p class="author">Andrew Doe</p>
      <p class="role">Entrepreneur</p>
      <p class="text-content">
        Since I started using Diamond Wealth Enterprise, my finances has been a
        force to reckon with. I’m able to track my money through their savings
        plan.
      </p>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<style lang="scss">
  p {
    color: var(--text-color);
  }
  .swiper {
    width: 100%;
    margin-top: 60px;
    @media screen and (min-width: 768px) {
      margin-top: 80px;
      width: 70%;
    }
    .swiper-wrapper {
      .swiper-slide {
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
        .img-wrap {
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          margin-bottom: 2.1rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .author {
          font-size: 16px;
          font-weight: 800;
          line-height: normal;
          letter-spacing: 0.32px;
          margin-bottom: 0;
        }
        .role {
          font-size: 14px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.28px;
          margin-bottom: 2rem;
        }
        .text-content {
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 29.7px;
          letter-spacing: 0.4px;
          max-width: 680px;
          @media screen and (min-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: var(--green);
      background: #167e2742;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      top: auto;
      &::after {
        font-size: 16px;
      }
    }
    .swiper-button-prev {
      left: 30%;
      @media screen and (min-width: 768px) {
        left: 40%;
      }
    }
    .swiper-button-next {
      right: 30%;
      @media screen and (min-width: 768px) {
        right: 40%;
      }
    }
  }
</style>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script is:inline>
  new Swiper(".swiper", {
    loop: true,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    effect: "creative",
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: "auto",
    creativeEffect: {
      prev: {
        shadow: true,
        translate: [0, 0, -400],
      },
      next: {
        shadow: true,
        translate: ["100%", 0, 0],
      },
    },
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
  });
</script>
