<footer>
  <div class="footer-top" id="contact">
    <div class="container foott-inner">
      <ul class="nav contact">
        <li>
          <a href="">
            <span class="me-1"><i class="fa-regular fa-envelope"></i></span>
             diamondwealthenterprise@yahoo.com</a
          >
        </li>
        <li>
          <a href="">
            <span class="me-1"><i class="fa-solid fa-phone"></i></span>
             +234 702 345 6789</a
          >
        </li>
      </ul>
      <ul class="nav">
        <li>
          <a href="">
            <span>
              <i class="fa-brands fa-linkedin-in"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span>
              <i class="fa-brands fa-x-twitter"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span>
              <i class="fa-brands fa-facebook"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span>
              <i class="fa-brands fa-instagram"></i>
            </span>
          </a>
        </li>
        <li>
          <a href="">
            <span>
              <i class="fa-brands fa-whatsapp"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div
      class="container d-flex justify-content-between align-items-center footb-inner"
    >
      <ul class="nav d-flex align-items-center">
        <li><a href=""> Terms & Condition</a></li>
        <li><a href=""> Privacy Poilcy</a></li>
      </ul>
      <div>
        &copy; {new Date().getFullYear()} Diamond Wealth Enterprise
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    width: 100%;
    a {
      text-decoration: none;
      color: inherit;
    }
    .footer-top {
      background: #22371b;
      color: #fff;
      padding-block: 33px;
      font-size: 12px;

      .foott-inner {
        flex-direction: column;
        display: flex;
        align-items: center;
        @media screen and (min-width: 768px) {
          justify-content: space-between;
          flex-direction: row;
        }
        .contact {
          margin-bottom: 2rem;
          flex-direction: column;
          align-items: center;
          @media screen and (min-width: 768px) {
            gap: 3rem;
            margin-bottom: 0;
            flex-direction: row;
          }
        }
        ul {
          gap: 17px;
          li {
            a {
              display: flex;
              align-items: center;
              &:hover {
                transition: all 0.2s ease;
                color: var(--green);
                span {
                  border: 1px solid var(--green);
                  transition: all 0.2s ease;
                }
              }
              span {
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      background: #092102;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.12px;
      padding-block: 44px;
      .footb-inner {
        flex-direction: column;
        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
        ul {
          gap: 3rem;
          margin-bottom: 1rem;
          @media screen and (min-width: 768px) {
            gap: 2rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
</style>
