<footer>
  <div class="footer-top">
    <div class="container d-flex align-items-center justify-content-between ">
      <ul class="nav contact">
        <li>
          <a href="">diamondwealthenterprise@yahoo.com</a>
        </li>
        <li>
          <a href="">+234 702 345 6789</a>
        </li>
      </ul>
      <ul class="nav">
        <li>
          <a href="">In</a>
        </li>
        <li>
          <a href="">Tw</a>
        </li>
        <li>
          <a href="">Fb</a>
        </li>
        <li>
          <a href="">Ig</a>
        </li>
        <li>
          <a href="">Wa</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom"></div>
</footer>

<style lang="scss">
  footer {
    a {
      text-decoration: none;
      color: inherit;
    }
    .footer-top {
      background: #22371b;
      color: #fff;
      padding-block: 33px;
      font-size: 12px;
      .contact{
        gap: 3rem;
      }
      ul {
      }
    }
  }
</style>
