---
import { Image } from "astro:assets";
import MenuIcon from "../images/menu-btn.svg";

const navList = [
  { name: "Home", href: "/" },
  { name: "About", href: "#about" },
  { name: "Services", href: "#services" },
  { name: "Contact", href: "#contact" },
];
---

<header>
  <nav class="container">
    <div class="logo">
      <a href="/"> DWE</a>
    </div>

    <div class="menu-btn" id="menu-btn">
      <!-- <Image src={MenuIcon} alt="menu button" width={26} height={26} /> -->
    </div>

    <ul class="nav" id="nav-links">
      {
        navList.map(({ href, name }) => (
          <li class="nav-item">
            <a href={href} class="nav-link">
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--green-dark);
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 50;

    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    width: 100%;
    .logo {
      font-size: 24px;
    }

    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 35px;
      height: 35px;
      z-index: 10;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
      &.show {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-block: 2rem;
        width: 100%;
        height: 100vh;
        background: #22371b;
      }

      @media screen and (min-width: 768px) {
        display: flex;
        width: 545px;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
</style>

<script>
  import MenuIcon from "../images/menu-btn.svg";

  const menuBtn = document.getElementById("menu-btn");
  const navLinks = document.getElementById("nav-links");

  menuBtn?.addEventListener("click", () => {
    navLinks?.classList.toggle("show");

    menuBtn.innerHTML = navLinks?.classList.contains("show")
      ? `<p>X</p>`
      : `<Image src=${MenuIcon} alt="menu button" width={26} height={26} />`;
  });
</script>
