---
import { Image } from "astro:assets";
import MenuIcon from "../images/menu-btn.svg";

const navList = [
  { name: "Home", href: "/" },
  { name: "About", href: "#about" },
  { name: "Services", href: "#services" },
  { name: "Contact", href: "#contact" },
];
---

<header>
  <nav class="container">
    <div class="logo">
      <a href="/"> DWE</a>
    </div>

    <div class="menu-btn">
      <Image src={MenuIcon} alt="menu button" width={26} height={26} />
    </div>

    <ul class="nav">
      {
        navList.map(({ href, name }) => (
          <li class="nav-item">
            <a href={href} class="nav-link">
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: var(--green-dark);
    color: #fff;

    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    .logo {
      font-size: 24px;
    }

    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 35px;
      height: 35px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        width: 545px;
        justify-content: space-between;
      }
    }
  }
</style>
